<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Item Details</title>
	</head>
	<body>
		<h1>Item Details</h1>
		<div>
			<h2><%= item.name %></h2>
			<p><strong>Description:</strong> <%= item.description %></p>
			<p><strong>Quantity:</strong> <%= item.quantity %></p>
			<p><strong>Category ID:</strong> <%= item.category_id %></p>
			<p>
				<strong>Created At:</strong> <%= item.created_at.toISOString()
				%>
			</p>
			<p>
				<strong>Updated At:</strong> <%= item.updated_at.toISOString()
				%>
			</p>
		</div>
		<a href="/items">Back to Items List</a>
	</body>
</html>
