<!DOCTYPE html>
<html>
<head>
    <title><%= category.name %> - Update</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <%- include('partials/sidebar') %>
    <div class="updateCategory-main-content">
        <div class="updateCategory-card">
            <h1>Update Category: <%= category.name %></h1>
            <%- include("partials/errors.ejs") %>
            <form action="/categories/<%= category.id %>" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="<%= category.name %>" required />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" required>
                        <%= category.description.trim().replace(/</g, '&lt;').replace(/>/g, '&gt;') %>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" id="type" name="type" value="<%= category.type %>" required />
                </div>
                <div class="form-actions">
                    <button type="submit" class="submit">Update Category</button>
                    <a href="/categories/<%= category.id %>" class="cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
