<!DOCTYPE html>
<html>
    <head>
        <title><%= item.name %> - Update</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <%- include('partials/sidebar') %>
        <div class="updateItem-main-content">
            <div class="updateItem-card">
                <h1>Update Item: <%= item.name %></h1>
                <form action="/items/<%= item.id %>/edit" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            value="<%= item.name %>"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" required>
                    <%= item.description.trim().replace(/</g, '&lt;').replace(/>/g, '&gt;') %>
                </textarea
                        >
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input
                            type="number"
                            id="quantity"
                            name="quantity"
                            value="<%= item.quantity %>"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="category_id">Category ID</label>
                        <input
                            type="number"
                            id="category_id"
                            name="category_id"
                            value="<%= item.category_id %>"
                            required
                        />
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="submit">
                            Update Item
                        </button>
                        <a href="/items/<%= item.id %>" class="cancel"
                            >Cancel</a
                        >
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
